#cor {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 8px;
  border: 2px solid #eee;
}
.fundo {
  background-color: rgb(3, 30, 41);
  font-size: 16px;
  color: #eee;
}
.default {
  background-color: #eee;
  font-size: 16px;
  color: rgb(41, 40, 40);
  font-family: sans-serif;
}
button {
  margin-left: 20px;
  border: none;
  width: 150px;
  padding: 10px;
  background-color: rgb(233, 233, 17);
  font-weight: bold;
  transition: 0.2s;
}
button:hover {
  background-color: orange;
  transition: 0.2s;
}
button:focus {
  background-color: rgb(240, 39, 13);
}
h1 {
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 20px;
}
input {
  margin-left: 20px;
}
p {
  margin-left: 20px;
}
